.container {
    width: 80%;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-top: 1.7em;

}
.tableContainer {
    background-color:whitesmoke;
    justify-content: center;
    margin: 0 auto;
}
.mainTable {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    /* border-collapse: collapse; */
}
    /* background-color: whitesmoke;
    font-size: 14px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 5px solid #FFB2B2;
    box-shadow: 0 3px 10px  black;
    background-color:red; */
.tableBody{
    background-color: orange;
    /* background-color:orange;
    padding-top: 10px; */
}
.tableHeadRow{
    background-color:whitesmoke;
    height: 2em;
    margin-bottom: 10px;
}
.pagination{
    display:flex;
    justify-content:center;
    list-style: none;
    font-size: 1.5em;
    cursor:pointer;
}
.pagination a {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  font-weight: bold;
}
ul.pagination li.active a {
  color: gray;
}
ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
ul.pagination li a:hover,
ul.pagination li a.active {
  color: orange;
}
/* ul.pagination li.active {
  background-color: #337ab7;
  border-radius: 20px;
} */